:root {
  --primary-color: #6c63ff;
  --secondary-color: #f5f2fe;
  --box-shadow: 0 5px 10px rgba(0, 0, 0, 0.3);
  --branding-color: #6c63ff;
  --heading-font-family: "Playfair Display", serif;
  --default-font-family: "Poppins", sans-serif;
}

body {
  margin: 60px auto;
  margin-top: 0;
  padding: 0, 40px, 40px, 40px;
  font-family: var(--default-font-family);
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: var(--heading-font-family);
}
h1,
h2,
h3 {
  text-align: center;
  margin: 0;
}

h1 {
  font-size: 96px;
  line-height: 1.5;
}

h2 {
  font-size: 48px;
  margin-top: 100px;
}
p {
  padding: 20px;
  border-radius: 4px;
  font-size: 16px;
  line-height: 1.5;
  margin-bottom: 50px;
  text-align: center;
}

.img-fluid {
  max-width: 100%;
  height: auto;
}
.navigation-links {
  display: flex;
  margin-top: 40px;
  justify-content: center;
}

.navigation-links a {
  margin: 20px;
  border-radius: 4px;
  padding: 15px 30px;
  text-decoration: none;
  text-transform: capitalize;
}
@media (max-width: 900px) {
  .hero {
    background: var(--secondary-color);
    padding: 160px 20px;
  }
  .hero h3 {
    font-family: var(--dafault-font-family);
    font-weight: normal;
    font-size: 24px;
    line-height: 2;
    opacity: 0.7;
  }
  .hero p {
    font-weight: bold;
    margin: 0px;
  }
  .contact-link {
    border-radius: 4px;
    text-decoration: none;
    text-transform: capitalize;
    background: var(--primary-color);
    box-shadow: var(--box-shadow);
    color: white;
    font-family: var(--dafault-font-family);
    line-height: 27px;
  }
}
.homepage-link {
  color: var(--primary-color);
  text-align: center;
  display: block;
  margin-top: 100px;
}
.about-paragraphs {
  display: flex;
  margin: 30px 0;
}

.about-paragraphs p {
  margin: 10px;
}

.email-link {
  display: flex;
  justify-content: center;
  color: var(--primary-color);
  font-size: 28px;
  text-decoration: none;
}

.email-link:hover {
  text-decoration: underline;
}

.launch {
  background: var(--primary-color);
  color: var(--secondary-color);
  box-shadow: var(--box-shadow);
  border-radius: 4px;
  padding: 20px 15px;
  text-decoration: none;
  text-transform: capitalize;
  margin-bottom: 20px;
}
.app-text {
  margin-bottom: 55px;
  padding-left: 10px;
}
